<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EHealth</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>alogin</display-name>
    <servlet-name>alogin</servlet-name>
    <servlet-class>EHealth.project.alogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alogin</servlet-name>
    <url-pattern>/alogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addaar</display-name>
    <servlet-name>addaar</servlet-name>
    <servlet-class>EHealth.project.addaar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addaar</servlet-name>
    <url-pattern>/addaar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adddr</display-name>
    <servlet-name>adddr</servlet-name>
    <servlet-class>EHealth.project.adddr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adddr</servlet-name>
    <url-pattern>/adddr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>avlogin</display-name>
    <servlet-name>avlogin</servlet-name>
    <servlet-class>EHealth.project.avlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>avlogin</servlet-name>
    <url-pattern>/avlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcase</display-name>
    <servlet-name>addcase</servlet-name>
    <servlet-class>EHealth.project.addcase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcase</servlet-name>
    <url-pattern>/addcase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dlogin</display-name>
    <servlet-name>dlogin</servlet-name>
    <servlet-class>EHealth.project.dlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dlogin</servlet-name>
    <url-pattern>/dlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>comment</display-name>
    <servlet-name>comment</servlet-name>
    <servlet-class>EHealth.project.comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>comment</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserData</display-name>
    <servlet-name>UserData</servlet-name>
    <servlet-class>EHealth.project.UserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserData</servlet-name>
    <url-pattern>/UserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upload</display-name>
    <servlet-name>upload</servlet-name>
    <servlet-class>EHealth.project.upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>prescription</display-name>
    <servlet-name>prescription</servlet-name>
    <servlet-class>EHealth.project.prescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prescription</servlet-name>
    <url-pattern>/prescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>comment2</display-name>
    <servlet-name>comment2</servlet-name>
    <servlet-class>EHealth.project.comment2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>comment2</servlet-name>
    <url-pattern>/comment2</url-pattern>
  </servlet-mapping>
</web-app>